<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AracKiralama.Properties.Settings.AracKiralamaDatabaseConnectionString"
            connectionString="Data Source=fdestj15;Initial Catalog=AracKiralamaDatabase;User ID=keremkoroglu;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AracKiralama.Properties.Settings.AracKiralamaConnectionString"
            connectionString="Data Source=fdestj15;Initial Catalog=AracKiralama;User ID=keremkoroglu;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>